@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-black text-white font-sans;
   @apply font-sans bg-black text-white;
      font-family: 'Inter', sans-serif;
}


/* Adaugă o clasă globală dacă vrei accent color */
:root {
  --accent: #00ffe5;
}